.sparkling-results-block {
	display: flex;
	max-height: 100%;
}

.sparkling-results {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}

.sparkling-preview {
	flex: 1;
	overflow: scroll;
}

.sparkling-row {
	padding: 0.5em 0.5em;
	line-height: 1.5em;
	font-size: 14px;
	line-height: 1.5em;
	cursor: pointer;
	font-weight: normal;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
}

.sparkling-row .highlight {
	font-weight: normal;
	background-color: inherit;
	color: #73c990;
	border-radius: none;
	padding: 0;
}

.search-highlight {
	display: inline-block;
	background-color: #4f65d1;
	border-radius: 2px;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
}

.sparkling-row.selected {
	background-color: #3f4252;
}

.sparkling-input-container {
	padding: 0.75em 0.75em;
	position: relative;
	color: #d7d8e0;
}

.sparkling-input {
	width: 100%;
	padding: 0.25em 0.75em;
	font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
	font-size: 1.15em;
	line-height: 2em;
	max-height: 10em;
	padding-left: 0.5em;
	border-radius: 3px;
	color: white;
	border: 1px solid #1b1c22;
	background-color: #3f4252;
}

.sparkling-input:focus {
	border-color: #4f65d1;
	box-shadow: 0 0 0 1px #4f65d1;
}

.sparkling-input--no-results:focus {
	border-color: #ff6347;
	box-shadow: 0 0 0 1px #ff6347;
}

.sparkling-search-meta-data {
	padding-bottom: 0.75em;
}

.sparking-replace .sparkling-input + .sparkling-input {
	margin-top: 0.75em;
}

.replace-downlight {
	display: inline-block;
	background-color: #ac4142;
	border-radius: 2px;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.replace-highlight {
	display: inline-block;
	background-color: #4f65d1;
	border-radius: 2px;
	color: white;
	padding-left: 1px;
	padding-right: 1px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.git-status {
	display: inline-block;
	width: 84px;
}

.git-status-modified {
	color: #ac4142;
}

.git-status-modified-staged {
	color: #73c990;
}

.git-status-new-file {
	color: #73c990;
}

.git-status-new-file-staged {
	color: #73c990;
}

.git-status-deleted {
	color: #ac4142;
}

.git-status-deleted-staged {
	color: #ac4142;
}

.git-status-untracked {
	color: #eddc96;
}
