.sparkling-results-block {
	display: flex;
	max-height: 100%;
}

.sparkling-results {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}

.sparkling-preview {
	flex: 1;
	overflow: scroll;
}

.sparkling-row {
	padding: 0.5em 0.5em;
	line-height: 1.5em;
	font-size: 14px;
	font-family: Fira Code;
	line-height: 1.5em;
	cursor: pointer;
	font-weight: normal;
}

.sparkling-row .highlight {
	font-weight: normal;
	background-color: inherit;
	color: #73c990;
	border-radius: none;
	padding: 0;
}

.sparkling-row.selected {
	background-color: #3f4252;
}

.sparkling-input {
	padding: 0.75em 0.75em;
	position: relative;
}

.sparkling-input--no-results atom-text-editor[mini].is-focused {
	border-color: #ff6347;
	box-shadow: 0 0 0 1px #ff6347;
}

.sparkling-search-meta-data {
	padding-bottom: 0.75em;
}
