button {
	padding: 0;
	margin: 0;
	border: none;
}

.sparkling-results-block {
	display: flex;
	max-height: 400px;
}

.sparkling-results {
	flex: 1;
	display: flex;
	flex-direction: column-reverse;
	overflow: auto;
}

.sparkling-preview {
	flex: 1;
	overflow: scroll;
}

.sparkling-row {
	padding: 0.5em 0.5em;
	line-height: 1.5em;
	font-size: 14px;
	font-family: Fira Code;
	line-height: 1.5em;
	cursor: pointer;
}

.sparkling-row.selected {
	background-color: #3f4252;
}

.sparkling-input {
	padding: 0.75em 0.75em;
	position: relative;
}

.sparkling-input--no-results atom-text-editor[mini].is-focused {
	border-color: #ff6347;
	box-shadow: 0 0 0 1px #ff6347;
}
